@media (max-width: 1240px) {
  .cart {
    padding: 170px 0 50px;
  }

  .cart__container {
    grid-template-columns: 1fr 300px;
  }

  .cart__items {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .cart-item__title {
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .order__form {
    max-width: 620px;
  }
}

@media (max-width: 940px) {

  .cart {
    padding: 139px 0 30px;
  }

  .cart__container {
    gap: 0;
    grid-template-columns: 1fr;
  }

  .cart__title {
    order: 2;
    margin-bottom: 24px;
    font-size: 36px;
  }

  .cart__items {
    order: 3;
    grid-template-columns: repeat(auto-fill, minmax(159px, 1fr));
  }

  .cart-item__title {
    font-size: 16px;
    display: block;
    white-space: nowrap;
  }

  .cart-item__quantity {
    gap: 0;
  }

  .cart-item__quantity-button {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }

  .cart-item__quantity-input {
    font-size: 16px;
  }

  .cart-item__price {
    margin: 0;
    line-height: 1.24;
    color: #1d1c1d;
    font-size: 16px;
  }

  .cart__summary {
    order: 1;
    margin-bottom: 40px;
    grid-template-areas: "title total button";
    grid-template-columns: min-content 1fr min-content;
    gap: 6px;
  }

  .cart__summary-title {
    font-size: 16px;
  }

  .cart__total {
    font-size: 16px;
  }

  .cart__order-button {
    padding: 12px 18px;
    font-size: 16px;
  }

  .order {
    padding: 30px 0 80px;
  }

  .order__title {
    font-size: 36px;
  }

  .order__form {
    gap: 16px;
    max-width: none;
  }

  .order__input {
    padding: 12px 16px;
  }

  .order__payment {
    padding-top: 8px;
  }

}

@media (max-width: 660px) {

  .container {
    padding: 0 16px;
  }

  .header {
    top: 0;
    padding: 0;
  }

  .header__container {
    padding: 8px 16px;
  }

  .header__nav {
    display: none;
  }

  .cart {
    padding: 100px 0 30px;
  }

  .cart__container {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
  }

  .cart__title {
    font-size: 36px;
  }

  .cart__items {
    grid-column: 1 / -1;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 8px;
  }

  .cart-item__info {
    padding: 16px 8px;
  }

  .cart-item__quantity {
    margin-bottom: 12px;
  }

  .cart__summary {
    grid-column: 1 / -1;
    margin-bottom: 30px;
    justify-content: space-between;
    grid-template-areas:
      "title button"
      "total button";
    /* grid-template-columns: auto min-content; */
  }

  .cart__summary-title {
    font-size: 16px;
  }

  .cart__total {
    font-size: 16px;
  }

  .cart__order-button {
    justify-self: end;
  }

  .order {
    padding: 30px 0 60px;
  }

  .order__title {
    font-size: 36px;
  }

  .order__form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 640px;
  }

  .order__input {
    border-radius: 4px;
    border: none;
    padding: 17px 16px;
  }

  .order__input::placeholder {
    font-size: 16px;
    line-height: 1.24;
    color: #b8b8b8;
  }

  .order__payment {
    padding-top: 12px;
  }

  .order__payment-title {
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 12px;
  }

  .order__payment-label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
  }



}