@media (max-width: 1240px) {

  .container {
    padding: 0 42px;
  }

  /* header */
  .header {
    padding: 0 20px;
    top: 20px;
  }

  .header__container {
    padding: 12px 22px;
  }

  /* promo */
  .promo__container {
    padding-top: 172px;
    padding-bottom: 60px;
    background-image: url(/image/promo-2.png);
    background-position: right 48px bottom 0;
  }

  .promo__title {
    font-size: 70px;
    margin-bottom: 40px;
    max-width: 660px;
  }

  /* products */
  .product {
    min-height: 450px;
  }

  /* footer */
  .footer__menu {
    gap: 32px;
  }

  /*  */
  .skeleton-wrapper {
    height: 450px;
  }
}

@media (max-width: 940px) {

  .container {
    padding: 0 42px;
  }

  .header__container {
    padding: 8px 20px;
  }

  /* header */
  .header__logo {
    width: 78px;
  }

  .header__menu {
    gap: 24px;
  }

  .header__menu-link {
    font-size: 16px;
  }

  /* promo */
  .promo__container {
    padding-top: 157px;
    background-size: 203px;
    background-position: right bottom;
  }

  .promo__title {
    font-size: 54px;
    max-width: 460px;
  }

  .promo__link {
    border-radius: 4px;
    padding: 12px 18px;
  }

  /* products */
  .products {
    padding: 80px 0;
  }

  .products__title {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .products__list {
    grid-template-columns: repeat(auto-fill, minmax(217px, 1fr));
    gap: 16px;
  }

  .product {
    min-height: 360px;
  }

  .product__title {
    font-size: 20px;
  }

  .product__price {
    font-size: 16px;
  }

  /* footer */
  .footer {
    padding: 40px 0;
  }

  .footer__menu {
    gap: 24px;
    font-size: 16px;
  }

  .footer__info {
    font-size: 12px;
  }

  .footer__email {
    font-size: 16px;
    margin-bottom: 12px;
  }

  /*  */
  .skeleton-wrapper {
    height: 360px;
  }  
}

@media (max-width: 660px) {
  .container {
    padding: 0 16px;
  }

  .header {
    top: 0;
    padding: 0;
  }

  .header__container {
    padding: 8px 16px;
    gap: 16px;
  }

  .header__nav{
    display: none;
  }

  .header__burger{
    display: block;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
  }

  .header__nav.active {
    display: flex;
    /* Показать навигацию при активации бургера */
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow: hidden;
    inset: 0;
    height: 100vh;
    background-color: #6cb9ab;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
  }  

  .header__close-btn {
    position: absolute;
    top: 20px;
    right: 16px;
    display: block;
    /* Показать кнопку-бургер на мобильных устройствах */
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
  }

  .promo__container{
    min-height: 420px;
    padding-top: 90px;
    padding-bottom: 250px;
    background-size: 145px;
    background-position: center bottom;
  }

  .promo__title{
    font-size: 40px;
    max-width: 350px;
    margin-bottom: 24px;
  }

  .promo__button{
    padding: 12px 18px;
    font-size: 16px;
  }

  .products{
    padding: 60px 0;
  }

  .products__title{
    font-size: 36px;
  }

  .products__list{
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .product__image{
    min-height: 226px;
    object-fit: cover;
  }

  .product__content{
    padding: 32px 8px 8px;
  }

  .product__title{
    font-size: 16px;
    height: 40px;
  }

  /* footer */
  .footer__container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer__menu {
    flex-direction: column;
    gap: 16px;
  }

  .footer__info{
    order: 1;
  }

  .footer__copyright{
    margin-top: 0;
    margin-bottom: 17px;
  }

  .footer__description{
    margin-top: 0;
    margin-bottom: 3px;
  }

  .footer__developer{
    margin-bottom: 3px;
  }

  .footer__developer:last-child{
    margin-bottom: 0;
  }

  .footer__menu-link{
    text-decoration: none;
    font-size: 18px;
  }

  .footer__email{
    margin-bottom: 16px;
  }

  .footer__social{
    display: flex;
    gap: 12px;
  }
}
