@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
}

html {
  box-sizing: border-box;
}

:is(*, *::before, *::after) {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: Inter, sans-serif;
  background-color: #fff;
  font-size: 20px;
  line-height: 1.24;
  color: #1d1c1d;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 50px;
}

/* header */
.header {
  position: absolute;

  padding: 0 24px;
  width: 100%;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);

  color: #fff;

}

.header__container {
  max-width: 1352px;
  padding: 12px 26px;

  backdrop-filter: blur(60px);
  background: rgba(108, 185, 171, 0.7);

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

.header__logo-link {
  font-size: 0;
  position: relative;
}
.header__logo-link::after{
  content: attr(data-text);
  font-size: 8px;
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  right: 0;
  bottom: -15px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__menu-link.active {
  color: #64099b;
}

.header__cart-link {
  width: 28px;
  height: 28px;

  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #64099b;

  background-image: url(/image/header-bag.svg);
  background-position: center;
  background-repeat: no-repeat;

  padding: 10px 4px 3px;
}

.header__control {
  display: flex;
  align-items: center;
  gap: 16px
}

.header__close-btn {
  display: none;
}

.header__burger {
  display: none;
}

/* promo */
.promo {
  background-color: #6cb9ab;
  color: #fff;
}

.promo__container {
  min-height: 600px;  
  padding-top: 210px;
  padding-bottom: 80px;
  background-image: url(/image/promo.png);
  background-repeat: no-repeat;
  background-position: right 113px bottom 0;
  min-height: 600px;
}

.promo__title {
  font-weight: 400;
  font-size: 88px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 60px;
  max-width: 800px;
}

.promo__link {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 16px 24px;
}

/* products */
.products {
  padding: 100px 0;
}

.products__title {
  font-weight: 400;
  font-size: 54px;
  line-height: 1.1;
  color: #64099b;
  margin-top: 0;
  margin-bottom: 32px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product {
  border-radius: 6px;
  overflow: hidden;
  font-size: 0;
  background: #f2f9f7;
  /* min-height: 600px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #1d1c1d;
}

.product__image {
  width: 100%;
}

.product__content {
  flex-grow: 1;
  padding: 40px 24px 24px;
  display: flex;
  flex-direction: column;
}

.product__title {
  flex-grow: 1;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product__price {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}

/* footer */
.footer {
  padding: 60px 0;
  background-color: #6cb9ab;
  color: #fff;
}

.footer__container {
  display: grid;
  gap: 38px;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
}

.footer__logo {
  font-size: 0;
}

.footer__menu {
  display: flex;
  gap: 50px;
  font-size: 20px;
}

.footer__info {
  font-size: 16px;
}

.footer__copyright {
  margin: 0;
  margin-bottom: 17px;
}

.footer__description {
  margin-top: 0;
  margin-bottom: 3px;
}

.footer__developers {
  margin-bottom: 3px;
}

.footer__developers:last-child {
  margin-bottom: 0;
}

.footer__menu-link {
  color: #fff;
  text-decoration: none;
}

.footer__menu-link.active {
  color: #64099b;
  cursor: default;
}

.footer__email {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 16px;
}

.footer__social {
  display: flex;
  gap: 12px;
  align-items: center;
}

.footer__social-link{
  display: block;
  color: #fff;
  transition: color .3s ease-in-out;
  outline: none;
  font-size: 0;
  line-height: 0;
  border-radius: 4px;
}

.footer__social-link:hover{
  color: #64099b;
}

.footer__social-link:focus-visible{
  color: #64099b;
  outline: 1px solid #64099b;
  outline-offset: 3px;
}

.skeleton-wrapper {
  width: 100%;
  height: 600px;
  background-color: #f2f9f7;
}


#root:has(.isCartEmpty) {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .main{
    flex-grow: 1;
  }
}